html {
	box-sizing: border-box;
}
*, *:before, *after {
	box-sizing: inherit;
}
	body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;

}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 28px;
	letter-spacing: 0.03em;
	

}
.top-navigation .links li {
	display: inline-block;
	padding: 0px 15px;
}

/* Introduction Section */

.introduction {
	background-image: url(http://i.imgur.com/cNrjVJn.jpg?1);
	background-position: center-bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction h1,
.introduction h3 {
	vertical-align: middle;
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction h1,	{
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

/** 
* The Buttons
*/

.button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
}

.introduction .buttons {
	color: white;
	text-align: center;
	margin-top: 1.563rem;
	

}


