body {
	background-color: white;
	/* Navigation Section */
	.top-navigation {
		background-color: #fff;
	}

	.top-navigation > .content {
		width: 970px;
		height: 70px;
		margin: 0 auto;
	}
 
}

h1 {
	border: 1px solid chocolate;
}